<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.kacebi.hospitalapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.profile.ProfileActivity"></activity>
        <activity android:name=".ui.chat.activities.ChatsListActivity" />
        <activity android:name=".ui.patients_dashboard.appointments.DoctorsAppointmentsActivity" />
        <activity android:name=".ui.doctors_dashboard.DoctorDashboardActivity" />
        <activity android:name=".ui.patients_dashboard.doctors.full_information.DoctorInformationActivity" />
        <activity android:name=".ui.patients_dashboard.home.news.NewsActivity" />
        <activity android:name=".ui.authentication.LoginActivity" />
        <activity android:name=".ui.chat.activities.ZoomChatImageActivity" />
        <activity android:name=".ui.authentication.RegisterActivity" />
        <activity android:name=".ui.chat.activities.ChatActivity" />
        <activity
            android:name=".ui.patients_dashboard.PatientDashboardActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.authentication.ForgotPasswordActivity" />
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>